//////////////// MAIN ////////////////
main {
  position: relative;
  width: 100%;
  padding: 2em;
  // color: $caramel-coffee;
  // background-image: radial-gradient(ellipse at center, $grey 0%, $black 100%);
  background: url('http://localhost/Dev/Projet-Curieux_kF%c3%a9e/content/uploads/2022/01/coffee-2048x1360.jpg');
  // background: url('http://localhost/Dev/Projet-Curieux_kF%c3%a9e/content/uploads/2022/02/matthew-feeney-TaFr0XnSFFs-unsplash-1365x2048.jpg');
  // background-image: url('http://localhost/Dev/Projet-Curieux_kF%c3%a9e/content/uploads/2022/02/Background-Simplifie-768x488.png');
  // background: url('http://localhost/Dev/Projet-Curieux_kF%c3%a9e/content/uploads/2022/02/malik-skydsgaard-TDsSmYtvnBw-unsplash-1365x2048.jpg');

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  main {
    padding: 2.5em;
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  main {
    padding: 3em;
  }
}