////////// Anchor To Up //////////
footer {
  #down {
    position: absolute;
    bottom: 2.85em;
    right: 15px;

    a {
      @include item-in-a-circle;

      &::before {
        @include before-in-circles;
      }

      &:hover {
        transform: $translateY-mobile;

        &::before {
          transform: $glass-hover;
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  footer {
    #down {
      bottom: 15px;

      a {
        width: 45px;
        height: 45px;

        i {
          font-size: 1.25em;
        }
  
        &:hover {
          transform: $translateY-tablet;
        }
      }
    }
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  footer {
    #down {
      a {
        width: 50px;
        height: 50px;

        i {
          font-size: 1.5em;
        }

        &:hover {
          transform: $translateY-desktop;
        }
      }
    }
  }
}