////////// Banner //////////
header {
  .banner {
    position: relative;
    width: 100%;
    max-height: 92vh;
    // height: calc(100% - 50px - 8vh);
    background-size: cover;
    background-position: right;
    overflow-y: hidden;

    img {
      width: 100%;
      height: auto;
    }

    p {
      position: absolute;
      width: 40%;
      top: 0;
      display: flex;
      justify-content: left;
      padding: 5em;
      color: $cream-coffee;
      z-index: 10;
    }
  }
}