////////// Banner //////////
header {
  .banner {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      height: auto;
      object-position: center;
      object-fit: fill;
    }

    ///// Text /////
    p {
      position: absolute;
      width: 80%;
      top: 150px;
      color: $cream;
      text-shadow: 1px 1px 2px $grey;
      text-align: center;
      z-index: 10;
    }

    &__actions {
      position: absolute;
      width: 100%;
      bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;

      ///// Search Engine /////
      .searchform {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: $box-shadow-circle;
        border: $border;
        border-right: $border-right-bottom;
        border-bottom: $border-right-bottom;
        backdrop-filter: blur(2px);
        border-radius: 25px;
        overflow: hidden;

        input {
          width: 0px;
          color: $cream-coffee;
          background-color: transparent;
          border: none;
          outline: none;
          transition: $transition-medium;
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          color: $cream-coffee;
          background-color: transparent;
          border: none;
          border-radius: 50%;
          transition: $transition-medium;
          cursor: pointer;
        }

        &::before {
          @include before-in-circles;
        }

        &:hover {
          input {
            width: 150px;
            padding-left: 1.25em;
          }

          &::before {
            transform: $glass-hover;
          }
        }
      }

      ///// Anchor To Down /////
      #up {
        a {
          @include item-in-a-circle;
  
          &::before {
            @include before-in-circles;
          }
    
          &:hover {
            transform: $translateY-mobile;
  
            &::before {
              transform: $glass-hover;
            }
          }
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  header {
    .banner {
      height: 350px;

      ///// Text /////
      p {
        width: 70%;
        top: 200px;
      }

      &__actions {
        ///// Search Engine /////
        .searchform {
          button {
            width: 45px;
            height: 45px;

            i {
              font-size: 1.25em;
            }
          }
  
          &:hover {
            input {
              width: 200px;
              padding-left: 1.5em;
            }
          }
        }

        ///// Anchor To Down /////
        #up {
          a {
            width: 45px;
            height: 45px;
  
            i {
              font-size: 1.25em;
            }
      
            &:hover {
              transform: $translateY-tablet;
            }
          }
        }
      }
    }
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  header {
    .banner {
      height: 400px;

      ///// Text /////
      p {
        top: 250px;
      }

      &__actions {
        ///// Search Engine /////
        .searchform {
          button {
            width: 50px;
            height: 50px;

            i {
              font-size: 1.5em;
            }
          }
  
          &:hover {
            input {
              width: 250px;
              padding-left: 1.75em;
            }
          }
        }

        ///// Anchor To Down /////
        #up {
          a {
            width: 50px;
            height: 50px;
  
            i {
              font-size: 1.5em;
            }
      
            &:hover {
              transform: $translateY-desktop;
            }
          }
        }
      }
    }
  }
}