////////// Concepts //////////
main {
  .concepts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;

    h2 {
      text-align: center;
    }

    p {
      color: $cappuccino;
      text-align: justify;
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  main {
    .concepts {
      margin-bottom: 2.5em;
    }
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  main {
    .concepts {
      margin-bottom: 3em;
    }
  }
}