////////// Contents //////////
main {
  .wrapper {
    .content {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      @include glassmorphism;
      padding: 1em 1.5em 2.25em;
      margin-bottom: 2.5em;
      transition: $transition-medium;
      cursor: pointer;

      h2 {
        color: $cream-coffee;
        width: 100%;
        margin-bottom: 0.85em;
      }

      ///// Picture /////
      &__picture {
        width: 100%;
        height: 150px;
        display: flex;

        img {
          max-width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      ///// Description /////
      &__desc {
        margin-top: 1.5em;

        p {
          width: 100%;
          color: $cappuccino;
          text-align: left;
          margin-bottom: 2.15em;
        }
    
        a {
          text-decoration: none;
          color: $cream;
          background-color: $grey;
          padding: 0.75em 1.25em;
          border-radius: 5px;
          transition: border 0.2s, padding $transition-medium;

          &:hover {
            border: 2.5px solid $caramel-coffee;
            padding-right: 2.5em;
            padding-left: 2.5em;
          }
        }
      }

      &:nth-child(even) {
        text-align: right;

        p {
          text-align: right;
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  main {
    .wrapper {
      .content {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em 2em 2em;
        margin: 0 auto 3em;

        h2 {
          margin-bottom: 1em;
        }

        ///// Picture /////
        &__picture {
          width: 225px;
          height: 225px;
        }

        ///// Description /////
        &__desc {
          width: 56%;
          margin: 0;

          p {
            text-align: left;
            margin-bottom: 2.65em;
          }
      
          a {
            padding: 1em 1.5em;
          }
        }

        &:nth-child(even) {
          flex-direction: row-reverse;
        }
      }
    }
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  main {
    .wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .content {
        width: 48.5%;
        align-items: center;
        padding: 2em;
        margin: 0 0 3.5em;

        h2 {
          margin-bottom: 1.15em;
        }

        ///// Picture /////
        &__picture {
          width: 250px;
          height: 250px;
        }

        ///// Description /////
        &__desc {
          width: calc(100% - 280px);

          p {
            margin-bottom: 3.15em;
          }
      
          a {
            padding: 1.25em 1.75em;
          }
        }
  
        &:hover {
          transform: $translateY-desktop;
        }
      }
    }
  }
}