////////// Map //////////
main {
  .contact-us {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      @include basic-underline;

      i {
        margin-right: 10px;
      }

      &:hover {
        background-size: 100% 100%;
      }

      &:last-child {
        i {
          margin: 0 0 0 10px;
        }
      }
    }
  }
}
  
// Tablet
@media screen and (min-width: $breakpoint-small) {
  main {
    .contact-us {
      a {
        i {
          margin-right: 12.5px;
        }
  
        &:last-child {
          i {
            margin: 0 0 0 12.5px;
          }
        }
      }
    }
  }
}
  
// Desktop
@media screen and (min-width: $breakpoint-medium) {
  main {
    .contact-us {
      width: 80%;
      margin: 0 auto;
      
      a {
        i {
          margin-right: 15px;
        }
  
        &:last-child {
          i {
            margin: 0 0 0 15px;
          }
        }
      }
    }
  }
}