////////// Copyright //////////
footer {
  .copyright {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: $cream-coffee;
      font-size: 0.75em;

      a {
        text-decoration: none;
        color: $cappuccino;
        background: linear-gradient(to top, $cream 0%, $cream 10%, transparent 10.01%) no-repeat;
        font-weight: bold;
        background-size: 0 100%;
        padding-bottom: 0.35em;
        transition: background-size 0.7s;

        &:hover {
          background-size: 100% 100%;
        }
      }
    }
  }
}
  
// Tablet
@media screen and (min-width: $breakpoint-small) {
  footer {
    .copyright {
      margin-top: 1em;
    }
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  footer {
    .copyright {
      margin-top: 0.25em;
    }
  }
}