////////// Copyright //////////
footer {
  .copyright {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: $cream-coffee;

      a {
        text-decoration: none;
      }
    }
  }
}
  
// Tablet
@media screen and (min-width: $breakpoint-small) {
  footer {
    .copyright {
      margin-top: 1.5em;
    }
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  footer {
    .copyright {
      margin-top: 2.25em;
    }
  }
}