////////// Intro //////////
main {
  .intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: solid 1px $cappuccino;

    p {
      color: $cappuccino;
      text-align: justify;
      margin-bottom: 2em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: none;
      color: $cream;
      background: linear-gradient(to top, $caramel-coffee 0%, $caramel-coffee 7%, transparent 7.01%) no-repeat;
      background-size: 0 100%;
      padding-bottom: 0.15em;
      transition: background-size $transition-slow;

      &:hover {
        background-size: $size-hover;
      }
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  main {
    .intro {
      margin-bottom: 2.5em;
      padding-bottom: 2.5em;
    
      p {
        margin-bottom: 2.5em;
      }
    }
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  main {
    .intro {
      margin-bottom: 3em;
      padding-bottom: 3em;
    
      p {
        margin-bottom: 3em;
      }
    }
  }
}