////////// Links //////////
footer {
  .links {
    li {
      list-style: none;
      text-align: center;
      padding-bottom: 0.5em;

      &:last-child {
        padding-bottom: 0;
      }

      a {
        color: $cream-coffee;
        text-decoration: none;
        // font-size: 14px;
        // font-weight: bold;
        background: linear-gradient(to top, $caramel-coffee 0%, $caramel-coffee 10%, transparent 10.01%) no-repeat;
        background-size: 0 100%;
        padding-bottom: 0.35em;
        transition: background-size 0.7s;

        &:hover {
          background-size: 100% 100%;
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  footer {
    .links {
      li {
        text-align: left;
      }
    }
  }
}