////////// Links //////////
footer {
  .links {
    li {
      list-style: none;
      text-align: center;
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
      text-transform: capitalize;

      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }

      a {
        font-size: 0.85em;
        @include basic-underline;

        &:hover {
          background-size: $size-hover;
        }

        i {
          margin-left: 5px;
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  footer {
    .links {
      width: calc(100% / 3);

      li {
        text-align: left;
      }
    }
  }
}