////////// Navbar //////////
header {
  nav {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    padding: 25px 50px;
    transition: 0.5s;
    z-index: 99;

    .logo {
      a {
        img {
          width: 100px;
          height: 100px;
        }
      }
    }

    ///// Menu Items /////
    .nav-links {
      position: absolute;
      top: 59px;
      right: 0;
      width: 100%;
      height: 92vh;
      background-image: url('http://localhost/Dev/Projet-Curieux_kF%c3%a9e/content/uploads/2022/02/Background-Simplifie-300x191.png');
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;

      li {
        list-style: none;
        opacity: 0;
        padding-bottom: 2.5em;

        &:first-child {
          margin-top: -5em;
        }

        &:last-child {
          padding-bottom: 0;
        }

        a {
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 3px;
          color: $cream;
          background: linear-gradient(to top, $caramel-coffee 0%, $caramel-coffee 10%, transparent 10.01%) no-repeat;
          background-size: 0 100%;
          padding-bottom: 0.35em;
          transition: background-size 0.7s;

          &:hover {
            background-size: 100% 100%;
          }
        }
      }

      &.nav-active {
        transform: translateX(0%);
      }
    }

    ///// Menu Burger /////
    .burger {
      display: none;
      cursor: pointer;

      div {
        width: 35px;
        height: 5px;
        background-color: $cappuccino;
        margin: 6px 0;
        transition: all 0.4s;
      }
    }

    /////// Sticky Mod ///////
    &.sticky {
      top: 0;
      justify-content: space-between;
      background-image: url('http://localhost/Dev/Projet-Curieux_kF%c3%a9e/content/uploads/2022/02/Background-Simplifie-300x191.png');
      padding: 0 15px;

      .logo {
        a {
          img {
            width: 55px;
            height: 55px;
          }
        }
      }

      ///// Menu Burger /////
      .burger {
        display: block;
      }
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  header {
    nav {
      top: 75px;
      padding: 0;

      .logo {
        a {
          img {
            width: 125px;
            height: 125px;
          }
        }
      }
      
      ///// Menu Items /////
      .nav-links {
        display: none;
      }

      ///// Menu Burger /////
      .burger {
        display: none;
      }

      /////// Sticky Mod ///////
      &.sticky {
        justify-content: space-between;

        .logo {
          a {
            img {
              width: 70px;
              height: 70px;
            }
          }
        }

        ///// Menu Items /////
        .nav-links {
          position: unset;
          width: 70%;
          height: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          transform: translateX(0);

          li {
            opacity: 1;
            padding-bottom: 0;
            
            &:first-child {
              margin-top: 0;
            }
          }
        }

        ///// Menu Burger /////
        .burger {
          display: none;
        }
      }
    }
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  header {
    nav {
      top: 100px;

      .logo {
        a {
          img {
            width: 150px;
            height: 150px;
          }
        }
      }

      /////// Sticky Mod ///////
      &.sticky {
        .logo {
          a {
            img {
              width: 85px;
              height: 85px;
            }
          }
        }

        ///// Menu Items /////
        .nav-links {
          width: 40%;
        }
      }
    }
  }
}