////////// Products //////////
main {
  .container {
    .product {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2.5em;
      padding: 1.5em 1em 1em;
      @include glassmorphism;
      transition: $transition-medium;
      overflow: hidden;
      cursor: pointer;

      .new {
        position: absolute;
        top: -16px;
        right: -53px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $cream;
        background-color: hsl(0, 100%, 40%);
        font-weight: bold;
        padding: 6px 17px 5px 19px;
        transform-origin: top left;
        transform: rotate(45deg);
        text-transform: uppercase;
        font-size: 0.65em;
        letter-spacing: 5px;
      }

      ///// Image /////
      &__image {
        width: 225px;
        height: 225px;
        margin-bottom: 2.75em;
        background-size: cover;
        background-position: center;

        img {
          width: 100%;
          height: 100%;
        }
      }

      ///// Informations /////
      &__infos {
        h2 {
          color: $cream-coffee;
          text-align: center;
          margin-bottom: 1.25em;
        }
    
        p {
          color: $cappuccino;
          text-align: justify;
          margin-bottom: 2.15em;
        }
    
        .tags {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: left;
          list-style: none;
    
          li {
            margin-right: 15px;
            color: $grey;
  
            &::before {
              content: '#';
              margin-right: 0.25px;
            }
          }
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  main {
    .container {
      .product {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2em;
        margin: 0 auto 3em;

        ///// Image /////
        &__image {
          width: 225px;
          height: 225px;
          margin-bottom: 0;
        }

        ///// Informations /////
        &__infos {
          width: 56%;

          h2 {
            margin-bottom: 1.75em;
          }
      
          p {
            margin-bottom: 2.65em;
          }
      
          .tags {
            li {
              margin-right: 20px;
            }
          }
        }

        &:nth-child(even) {
          flex-direction: row-reverse;

          .new {
            position: absolute;
            right: inherit;
            left: -53px;
            transform-origin: top right;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  main {
    .container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .product {
        width: 48.5%;
        margin: 0 0 3.5em;

        ///// Image /////
        &__image {
          width: 250px;
          height: 250px;
        }

        ///// Informations /////
        &__infos {
          width: calc(100% - 280px);

          h2 {
            margin-bottom: 2.25em;
          }
      
          p {
            margin-bottom: 3.15em;
          }
      
          .tags {
            li {
              margin-right: 25px;
            }
          }
        }

        &:nth-child(even) {
          flex-direction: inherit;

          .new {
            right: -53px;
            left: inherit;
            transform-origin: top left;
            transform: rotate(45deg);
          }
        }

        &:nth-child(4n-1),
        &:nth-child(4n-2) { 
          flex-direction: row-reverse;

          .new {
            position: absolute;
            right: inherit;
            left: -53px;
            transform-origin: top right;
            transform: rotate(-45deg);
          }
        }

        &:hover {
          transform: $translateY-desktop;
        }
      }
    }
  }
}