////////// Search Results //////////
main {
  .results {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 1em 1.25em;
    margin: 0 auto;
    @include glassmorphism;

    h1 {
      text-transform: none;
    }

    &__found {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;

      h3 {
        a {
          background: linear-gradient(to top, $cream 0%, $cream 7%, transparent 7.01%) no-repeat;
          @include reverse-underline;
          text-transform: capitalize;

          &:hover {
            background-size: $size-hover;
          }
        }
      }
    }

    p {
      color: $cappuccino;
      margin-bottom: 0.5em;
      text-align: center;
    }

    a {
      padding-bottom: 0.15em !important;
      margin-top: 1.25em;
      @include basic-underline;

      &:hover {
        background-size: $size-hover;
      }
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  main {
    .results {
      width: 70%;
      padding: 1.5em 1.75em;

      p {
        margin-bottom: 0.75em;
      }
  
      a {
        margin-top: 1.75em;
      }
    }
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  main {  
    .results {
      width: 60%;
      padding: 2em 2.25em;

      p {
        margin-bottom: 1em;
      }
  
      a {
        margin-top: 2.25em;
      }
    }
  }
}