////////// Simplified Logo //////////
footer {
  .simplified-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;

    div {
      width: 115px;
      height: 115px;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  footer {
    .simplified-logo {
      width: calc(100% / 3);
      margin: 0;

      div {
        width: 140px;
        height: 140px;
      }
    }
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  footer {
    .simplified-logo {
      div {
        width: 165px;
        height: 165px;
      }
    }
  }
}