////////// Social Media //////////
footer {
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;

    a {
      @include item-in-a-circle;
      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }

      // &::before {
      //   @include before-in-circles;
      // }

      &:hover {
        transform: $translateY-mobile;

        .fa-envelope {
          color: $caramel-coffee;
        }

        // .fa-phone {
        //   color: ;
        // }

        .fa-facebook-square {
          color: hsl(214, 89%, 52%);

          &::after {
            content: '';
            position: absolute;
            top: 36%;
            left: 39%;
            width: 9px;
            height: 12.25px;
            background-color: $white;
            z-index: -8;
          }
        }

        .fa-instagram {
          background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
          -webkit-background-clip: text;
              background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &::before {
          transform: $glass-hover;
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  footer {
    .social-media {
      width: calc(100% / 3);
      justify-content: end;
      margin-bottom: 0;

      a {
        width: 45px;
        height: 45px;

        i {
          font-size: 1.25em;
        }

        &:hover {
          transform: $translateY-tablet;
  
          .fa-facebook-square {
            &::after {
              width: 11px;
              height: 14.5px;
            }
          }
        }
      }
    }
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  footer {
    .social-media {
      a {
        width: 50px;
        height: 50px;

        i {
          font-size: 1.5em;
        }

        &:hover {
          transform: $translateY-desktop;
  
          .fa-facebook-square {
            &::after {
              top: 35%;
              width: 13px;
              height: 17.5px;
            }
          }
        }
      }
    }
  }
}