////////// FAQ //////////
main {
  .faq {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
  
    p {
      color: $cappuccino;
      text-align: justify;
      margin-bottom: 2em;
    }
  }
}
  
// Tablet
@media screen and (min-width: $breakpoint-small) {
  main {
    .faq {
      p {
        margin-bottom: 2.5em;
      }
    }
  }
}
  
// Desktop
@media screen and (min-width: $breakpoint-medium) {
  main {
    .faq {
      p {
        margin-bottom: 3em;
      }
    }
  }
}