@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

header {
  .special-event {
    &__items {
      &__single {
        strong {
          font-family: $font-family-title;
        }

        span {
          font-family: $font-family-content;
        }
      }
    }
  }

  nav {
    font-family: $font-family-title;
  }

  .banner {
    font-family: $font-family-content;
  }
}

main {
  section {
    h1 {
      font-family: $font-family-title;
    }

    p {
      font-family: $font-family-content;
    }
  }

  .wrapper {
    .content {
      h2 {
        font-family: $font-family-title;
      }

      &__desc {
        font-family: $font-family-content;
      }
    }
  }

  .categories {
    button {
      font-family: $font-family-title;
    }
  }

  .container {
    .product {
      &__infos {
        h2 {
          font-family: $font-family-title;
        }

        p,
        .tags {
          font-family: $font-family-content;
        }
      }
    }
  }

  .cmon {
    font-family: $font-family-title;
  }

  .opening-hours {
    font-family: $font-family-content;
  }

  .map {
    font-family: $font-family-content;
  }

  .contact-us {
    font-family: $font-family-content;
  }
}

footer {
  font-family: $font-family-content;
}